#---------------------------------
# Directories
#---------------------------------
node_modules/
target
/styleguide/styles.css
tmp/
/coverage
protractorFailuresReport
dist/

#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip
*.swp

#---------------------------------
# IDE generated
#---------------------------------
.idea/
.project
*.iml
.vscode/
*~

#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db

#---------------------------------
# Dotenv
#---------------------------------
.env

#---------------------------------
# Lock files
#---------------------------------
*.lock
!yarn.lock
=======

#---------------------------------
# Webback
#---------------------------------
.awcache
ngc-build

#---------------------------------
# Jest report
#---------------------------------
test-report.html

#---------------------------------
# Other
#---------------------------------
/CHANGELOG.md
